/* .bounce-enter-active {
  animation: bounce-in .8s;
}
.bounce-leave-active {
  animation: bounce-in .5s;
}
@keyframes bounce-in {
  0% { transform: scale(0) }
  50% { transform: scale(1.5) }
  100% { transform: scale(1) }
}
@keyframes bounce-out {
  0% { transform: scale(1) }
  50% { transform: scale(1.5) }
  100% { transform: scale(0) }
} */


.left.bounce-enter-active {
  animation: bounce-in-left.8s;
}
.left.bounce-leave-active {
  animation: bounce-out-left .8s;
}
.right.bounce-enter-active {
  animation: bounce-in-right .8s;
}
.right.bounce-leave-active {
  animation: bounce-out-right .8s;
}
@keyframes bounce-in-left {
  0% {
    transform: scale(0.8) translateX(-200vh);
  }
  40% { transform: scale(0.8) translateX(0);}
  60% { transform: scale(0.8) translateX(0);}
  100% { transform: scale(1) translateX(0); }
}
@keyframes bounce-out-right {
  0% {
    transform: scale(1) translateX(0);
  }
  40% { transform: scale(0.8) translateX(0);}
  60% { transform: scale(0.8) translateX(0);}
  100% { transform: scale(0.8) translateX(200vh); }
}
@keyframes bounce-in-right {
  0% {
    transform: scale(0.8) translateX(200vh);
  }
  40% { transform: scale(0.8) translateX(0);}
  60% { transform: scale(0.8) translateX(0);}
  100% { transform: scale(1) translateX(0); }
}
@keyframes bounce-out-left {
  0% {
    transform: scale(1) translateX(0);
  }
  40% { transform: scale(0.8) translateX(0);}
  60% { transform: scale(0.8) translateX(0);}
  100% { transform: scale(0.8) translateX(-200vh); }
}

