/* .bounce-enter-active {
  animation: bounce-in .8s;
}
.bounce-leave-active {
  animation: bounce-in .5s;
}
@keyframes bounce-in {
  0% { transform: scale(0) }
  50% { transform: scale(1.5) }
  100% { transform: scale(1) }
}
@keyframes bounce-out {
  0% { transform: scale(1) }
  50% { transform: scale(1.5) }
  100% { transform: scale(0) }
} */


.bounceleft-enter-active {
  animation: bounce-in-left .8s;
}
.bounceleft-leave-active {
  animation: bounce-out-right .8s;
}
.bounceright-enter-active {
  animation: bounce-in-right .8s;
}
.bounceright-leave-active {
  animation: bounce-out-left .8s;
}
@keyframes bounce-in-left {
  0% {
    transform: scale(0.8) translateX(-200vh);
  }
  40% { transform: scale(0.8) translateX(0);}
  60% { transform: scale(0.8) translateX(0);}
  100% { transform: scale(1) translateX(0); }
}
@keyframes bounce-out-right {
  0% {
    transform: scale(1) translateX(0);
  }
  40% { transform: scale(0.8) translateX(0);}
  60% { transform: scale(0.8) translateX(0);}
  100% { transform: scale(0.8) translateX(200vh); }
}
@keyframes bounce-in-right {
  0% {
    transform: scale(0.8) translateX(200vh);
  }
  40% { transform: scale(0.8) translateX(0);}
  60% { transform: scale(0.8) translateX(0);}
  100% { transform: scale(1) translateX(0); }
}
@keyframes bounce-out-left {
  0% {
    transform: scale(1) translateX(0);
  }
  40% { transform: scale(0.8) translateX(0);}
  60% { transform: scale(0.8) translateX(0);}
  100% { transform: scale(0.8) translateX(-200vh); }
}

#__layout {
  position: absolute;
  top: 0;left: 0;right: 0;
}

.layoutproject-enter-active {
  z-index: 1000;
  animation: showFromDown .8s;
}

.layoutdefault-leave-active {
  z-index: 1000;
  animation: showFromDown .8s reverse;
}

.layoutdefault-enter {
  z-index: -1;
}

@keyframes showFromDown {
  0% {
    transform: translateY(100vh);
  }
  100% { 
    transform: translateY(0);
  }
}

/* 
.layoutdefault-enter-active,
.layoutdefault-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 2500ms;
}
.layoutdefault-enter,
.layoutdefault-leave-to {
  opacity: 0;
}


.layoutproject-enter-active,
.layoutproject-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 2500ms;
}
.layoutproject-enter,
.layoutproject-leave-to {
  opacity: 0;
} */